//*****************************************************
//*   Variables
//*****************************************************



//*Colors
$primary-color:#272727;
$secondary-color:#ff652f;
$text-color:#eee;

//font
@import url('https://fonts.googleapis.com/css2?family=Michroma&family=Zen+Dots&display=swap');

$font-family:'Zen Dots', cursive;



$main-bgImage-path: '../img/model-1.jpg';